.availability-legend {
  padding: 25px 0;
  border-top: 1px solid rgba(38,38,38,.2);
}

.availability-legend-item {
  float: left;
  margin-right: 0.75em;
}

.availability-legend-item .availability-label {
  font-weight: bold;
  font-size: 0.8em;
}

.availability-legend-item img {
  height: 15px;
  width: 15px;
  margin-right: 0.25em;
  margin-top: -1px;
  float: left;
  border-radius: 5px;
}

.availability-legend-item.available img {
  background-color: #528c10; /* Green */
}

.availability-legend-item.on-loan img {
  background-color: #f0cb28; /* Yellow */
}

.availability-legend-item.unavailable img {
  background-color: #a32e10; /* Red */
}

.availability-legend-item.unavailable.netdokument img {
  background-color: #a32e10; /* Red */
}

.availability-legend-item.unreservable img {
  background-color: #a32e10; /* Red */
}

.availability-legend-item.pending img {
  background-color: #6d96E6;
}

.pane-ding-availability-legend .availability-legend .availability-legend-item {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 10px 10px 0;
  padding: 5px;
  line-height: normal;
}

div.pane-ding-availability-legend .availability-legend {
  float: none;
}

div.pane-ding-availability-legend .availability-legend .availability-legend-item {
  margin: 0 8px 0 0;
}

div.pane-ding-availability-legend .availability-legend .availability-legend-item .availability-label {
  font-weight: 400;
  font-size: 100%;
}

.field-type-ting-type li,
.js-search-result--availability-link {
  border-radius: 5px;
  padding: 5px 11px;
  color: white !important;
  display: inline-block;
  text-decoration: underline;
  margin: 2px 0 !important;
}

.availability.available {
  background-color: #528c10;
}
.availability.available.reservable {
  background-color: #528c10;
}

.availability.pending {
  background-color: #6d96E6;
}

.availability.reservable {
  background-color: #f0cb28;
}

.availability.unavailable,
.availability.unreservable {
  background-color: #a32e10;
}
